{% extends "main/base.html" %}
{% block content %}
  <article class="media content-section">
    <!-- <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"> -->
    <div class="media-body">
        <table id="table_id" class="display" border='2' align="center"  style="width:100%">

            <caption><i>Contacts</i></caption>
        
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Person</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                
                {% for c in contacts %}
                    <tr>
                        <TD class="c3" align="center"><a href="{% url 'main:contact-detail' c.id%}">{{ c.company }}</TD>
                        <TD class="c3" align="center">{{ c.person }}</TD>
                        <TD class="c3" align="center">{{ c.desc }}</TD>
                        <TD class="c3" align="left">{{ c.email }}</TD>
                        <TD class="c3" align="center">{{ c.number }}</TD>
                        <TD class="c3" align="center" >{{ c.status }}</TD>
                    </tr>
                {% endfor %}        
            </tbody>
        </table>
    </div>
  </article>
{% endblock content %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
  <script>
      $(document).ready( function () {
      $('#table_id').DataTable({

      dom: 'B<"clear">lfrtip',
      buttons: {
          name: 'primary',
          buttons: [ 'copy', 'csv', 'excel', 'pdf' ]

          }}
      );
  } );
  </script>
{% endblock %}